<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> App1 </title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
 </head>
 <body></body>   
<h1> Ice Rink Data</h1>
<table style="width:100%">
{% for x in icedata %}

<tr>
<th>pID</th>
<th>timestamp</th>
<th>devID</th>
<th>Temperature</th>
</tr>
<tr>
    <td>{{ x.pID }}</td>
    <td>{{ x.timestamp }}</td>
    <td>{{ x.devID }}</td>
    <td>{{ x.tmp }}</td>
</tr>
{% endfor %}
</table>
</body>   
</html>